In [50]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)


total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']

melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms

diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

years_sold = melb_df['Date'].dt.year


melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df = melb_df.drop('YearBuilt', axis=1)
melb_df['Weekdaysale'] = melb_df['Date'].dt.dayofweek

weekend_count = melb_df[melb_df['Weekdaysale'] == 5]['Weekdaysale'].count() + melb_df[melb_df['Weekdaysale'] == 6]['Weekdaysale'].count()

def get_weekend(weekday):
    if weekday in [5, 6]:
        return(1)
    else:
        return(0)

melb_df['Weekend'] = melb_df['Weekdaysale'].apply(get_weekend)

popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'Other')

display(melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'Other']['Price'].min())

1.297709923664122

In [47]:
import pandas as pd

ufo_data = pd.read_csv('data/ufo.csv', sep=',')

ufo_df = ufo_data.copy()

ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=True)


ufo_df['Year'] = ufo_df['Time'].dt.year
ufo_df['Date'] = ufo_df['Time'].dt.date

ufo_df_nv = ufo_df[ufo_df['State'] == 'NV']
ufo_df_nv_sorted = ufo_df_nv.sort_values(by='Date')
ufo_df_nv_sorted['Diff'] = ufo_df_nv_sorted['Date'].diff().dt.days
#ufo_df.head()

#display(ufo_df_nv_sorted)

display(ufo_df_nv_sorted['Diff'].mean())

68.79858657243817

In [11]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for cur_col in col:
        if cur_col not in df.columns:
            return(None)
    return(df.drop(col, axis=1))
    
display(delete_columns(customer_df, ['number1', 'cust_sale']))

None

In [18]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['density'] = countries_df['population'] * 1000000 / countries_df['square']

display(countries_df)

display(countries_df['density'].mean())

     country  population    square     density
0     Англия       56.29    133396  421.976671
1     Канада       38.05   9984670    3.810842
2        США      322.28   9826630   32.796595
3     Россия      146.24  17125191    8.539467
4    Украина       45.50    603628   75.377550
5   Беларусь        9.50    207600   45.761079
6  Казахстан       17.04   2724902    6.253436

84.93080566562001

In [55]:
def get_experience(arg):
    arg_list = arg.split(sep=' ')
    if arg_list[-1] in ['год', 'года', 'лет']:
        return(12*int(arg_list[-2]))
    elif arg_list[-3] in ['год', 'года', 'лет']:
        return(12*int(arg_list[-4]) + int(arg_list[-2]))
    elif arg_list[-1] in ['месяц', 'месяца', 'месяцев']:
        return(int(arg_list[-2]))
    else:
        return(0)

print(get_experience('Опыт работы 8 месяцев'))

8

In [59]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)


total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

years_sold = melb_df['Date'].dt.year


melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df = melb_df.drop('YearBuilt', axis=1)
melb_df['Weekdaysale'] = melb_df['Date'].dt.dayofweek

weekend_count = melb_df[melb_df['Weekdaysale'] == 5]['Weekdaysale'].count() + melb_df[melb_df['Weekdaysale'] == 6]['Weekdaysale'].count()

def get_weekend(weekday):
    if weekday in [5, 6]:
        return(1)
    else:
        return(0)

melb_df['Weekend'] = melb_df['Weekdaysale'].apply(get_weekend)

popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'Other')

#display(melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'Other']['Price'].min())

# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
#display(unique_counts)

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
#display(melb_df.info())

popular_suburbs = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburbs else 'Other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  category
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  category
 6   SellerG          13580 non-null  category
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  CouncilArea      12211 non-null  category
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  category
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  category
 23  AgeBuilding      13580 non-null  int64
 24  Weekdaysale      13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(8), int64(7), object(1)
memory usage: 1.9+ MB

None

In [98]:
import pandas as pd

bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = bike_data.copy()
bike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
bike_df['age'] = bike_df['birth year'].apply(lambda x: 2018 - x)
bike_df.drop('birth year', axis=1, inplace=True)
#melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburbs else 'Other')
#display(bike_df.info())
#melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()
#display(bike_df[bike_df['age'] > 60].shape[0])
bike_df['trip duration'] = pd.to_datetime(bike_df['stoptime']) - pd.to_datetime(bike_df['starttime'])
#a = melb_data.loc[3521, 'Landsize']
#display(bike_df.loc[3, 'trip duration'])
bike_df['start weekday'] = pd.to_datetime(bike_df['starttime']).dt.day_of_week
bike_df['start hour'] = pd.to_datetime(bike_df['starttime']).dt.hour

def get_weekend(weekday):
    if weekday in [5, 6]:
        return(1)
    else:
        return(0)

def get_part_of_day(hour):
    if 0 <= hour <= 6:
        return('night')
    elif 6 < hour <= 12:
        return('morning')
    elif 12 < hour <= 18:
        return('day')
    else:
        return('evening')

#melb_df['Weekend'] = melb_df['Weekdaysale'].apply(get_weekend)
bike_df['weekend'] = bike_df['start weekday'].apply(get_weekend)
bike_df['part of day'] = bike_df['start hour'].apply(get_part_of_day).astype('category')
display(bike_df['part of day'].value_counts())
#display(bike_df['weekend'].sum())

#Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
#поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
#поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
#поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
#поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

day        143012
morning     95530
evening     46373
night       15085
Name: part of day, dtype: int64

In [140]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

#display(melb_df.info())
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца

melb_df['QuarterSale'] = melb_df['Date'].dt.quarter

#display(melb_df['QuarterSale'].value_counts())
#display(melb_df.info())

#melb_df_sorted = melb_df.sort_values(by='AreaRatio', ascending=False, ignore_index=True)
#display(melb_df_sorted.loc[1558])
#melb_df['Antimean'] = melb_df['MeanRoomsSquare']*(-1)
#melb_df_filtered = melb_df[(melb_df['Type'] == 'townhouse') & (melb_df['Rooms'] > 2)]
#melb_df_filtered.sort_values(by=['Rooms', 'Antimean'], ignore_index=True, inplace=True)
#display(melb_df_filtered.loc[18])

melb_df.groupby('MonthSale')['Price'].agg(
    ['count', 'mean', 'max']
).sort_values(by='count', ascending=False)

melb_df.groupby('Regionname')['SellerG'].agg(
    		['nunique', set]
)

melb_df.groupby('Rooms')['Price'].mean()

melb_df.groupby('Regionname')['Lattitude'].std().sort_values()

#Какая риелторская компания (SellerG)
#имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?

melb_df_filtered = melb_df[(melb_df['Date'] >= '2017-05-01') & (melb_df['Date'] <= '2017-09-01')]

#display(melb_df_filtered.sort_values(by='Date'))
melb_df_filtered.groupby('SellerG')['Price'].sum().sort_values()

melb_df.pivot_table(
    values='Price',
    index='Regionname',
    columns='Weekend',
    aggfunc='count'
)

melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)

melb_df.pivot_table(
    values='BuildingArea',
    index='Type',
    columns='Rooms',
    aggfunc='median',
    fill_value=0
)

melb_df.pivot_table(
    values='Price',
    index='Type',
    columns='SellerG',
    aggfunc='median',
    fill_value=0
).sort_values(by='unit', axis=1, ascending=False)

SellerG,Nick,Marshall,Cayzer,Kay,Noel,Buxton,Fletchers,Chisholm,Philip,RT,...,Bells,Jas,Raine,LITTLE,YPA,Love,Village,Stockdale,Sweeney,Burnham
Type,,,,,,,,,,,,,,,,,,,,,
house,2025000,1975000,1505000,2220000,1400500,1323750,1390000,1520000,1035000,1640000,...,692500,935000,745000,970000,596250,780000,973500,715500,850000,922500
townhouse,780000,1408500,1450000,1365000,990000,1030000,1238000,950000,701000,1400000,...,430500,699000,608000,800000,498500,846000,727500,550000,728000,0
unit,900000,715000,707500,695000,693250,670000,653000,640000,636000,630000,...,457500,455000,447500,447000,443500,440000,420000,410000,381000,305000